spring:
  profiles:
    active: local
#    active: deploy
---
# aop 관련 설정
spring:
  aop:
    auto: true
    proxy-target-class: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  logging:
    level:
      HeoJin.demoBlog: DEBUG
      root: INFO


## AOP 관련 설정
logging:
  level:
    HeoJin.demoBlog: DEBUG
    root: INFO

server:
  port: 8080


