spring:
  profiles:
    active: local
#    active: deploy
---
# aop 관련 설정
spring:
  aop:
    auto: true
    proxy-target-class: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false



## 로깅 관련
logging:
  level:
    HeoJin.demoBlog: DEBUG
    root: INFO
    org.hibernate.orm.jdbc.bind: TRACE

server:
  port: 9003
---
# 명시적으로 추가
# 둘다 디폴트값
management:
  endpoints:
    web:
      # 이거 나중에 수정해야 할듯
      base-path: /api
      exposure:
        include: health, prometheus
  endpoint:
    health:
      show-details: never


